{% include 'app/partials/doctype.html' %}
<body>
    <form action="{% url 'criar_emprestimo' %}" method="POST" class="mb-3">
        {% csrf_token %}
        <input type="search" name="nome_do_colaborador_input" placeholder="Pesquisar Colaborador...">
        <input type="search" name="nome_do_equipamento_input" placeholder="Pesquisar Equipamento...">
        <input type="search" name="data_devolucao" placeholder="data_devolucao">
        <button type="submit">Enviar Dados</button> 
    </form>
</body>
</html>